<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Event Owner Notification for Availability Change</title>
</head>

<body style="flex-direction: column">
  <div id="tittle" style="height: 10%; background-color: darkgreen">
    <h1 style="color: white; text-align: center; padding-top: 1%;">
      <%= guestName %> has change their availability at
        <%= eventName %>
    </h1>
  </div>
  <div id="text" style="padding-top: 3%; color: black; font-size: 2em; padding-left: 100px">
    <p>Hey there,</p>
    <p>
      <%= guestName %> has change their availability for
        <a href="<%= url%>">
          <%= eventName %>
        </a>.</p>
  </div>
  <div id="footer" style="padding-top: 3%; color: black; font-size: 2em; padding-left: 100px">Best,<br>Lets Meet team.</div>
</body>

</html>